:root{
    --primary-color: rgb(0, 247, 255);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.5; /*donar espai entre linies*/
    color: var(--primary-color);
}

#showcase{
    background-image: url(../img/wolf.jpg); /*  es ../ ho posam perque esteima css i hem de pujar un nivell per anar a img  */
    height: 100vh; /* vh perque sigui proporcional quan modificam tamany pagina */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

#showcase::after{
    content: '';
    position: absolute;
    top:0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 255, 249, 0.15);
    z-index: 1;
}

h1, p, a{
    z-index: 2;
}

a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 3px;
    color: white;
    border-radius: 10px;
}

a:hover{
    color: var(--primary-color);
    background-color: black;
}

#section-a{
    text-align: center;
}

#section-b{
    text-align: center;
    padding: 20px;
}

#section3{
    display: flex; /*posam es paragrafs un devora s'altre*/

}

div{
    padding: 20px;
}

.fonsBlack{
    background-color: black;
    color: aqua;
}

.fonsIce{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
}